*,
*::after,
*::before{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{

    font-size: 62.5%;
}
:root
{
    --color-heading:#ADB5BD;
    --color-btn:#55A630;
}
#body-login
{
    display:flex;
    width: 100%;
}
#text-login
{
    width:50%;
    background-image:url('Network.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-size: 1.5rem;
    /* height:200%; */
}
#login
{
    width:50%;
    font-size: 1.5rem;

}
#body-login h2
{
    color:var(--color-heading);
}
#body-login .title2
{
    text-align:center;
    font-size:2.5rem;
}
#body-login .form
{
    width:50%;
    margin:20px auto;
}
#body-login a
{
    text-align:center;
    display:block;
}
#body-login input[value="LOGIN"]
{
    margin:10px auto;
    display:block;
    background-color:var(--color-btn);
    color:white;
    font-weight:bold;
    width:90%;
    height:40px;
    border-radius:50px;
    border:2px solid var(--color-heading);
}
img[src="futur.png"]
{
    display:block;
    margin:10px auto;
}
#login input[type="email"],#login input[type="password"]
{
    padding:20px;
}
#login input[type="email"]::placeholder,#login input[type="password"]::placeholder
{
    font-size:2rem;
}